# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log
*.tmp

# Android build outputs
*.apk
*.apks
*.aab
*.dex
*.odex
*.vdex
*.oat
build/
.gradle/
.idea/

# Large Android reports
bugreport*.zip
bugreport*.txt

# Local notes
local_notes/

runs/
